// Custom Components
.hero-img-right {
  @include media-breakpoint-down(lg) {
    margin-bottom: 3rem;
  }

  @include media-breakpoint-up(lg) {
    padding-left: 80px;
  }
}

.hero-img-left {
  @include media-breakpoint-down(lg) {
    margin-bottom: 3rem;
  }

  @include media-breakpoint-up(lg) {
    padding-right: 80px;
  }
}

.navbar-collapse {
  text-align: center;
}

.contact-us label {
  text-align: right;
  padding-left: 0rem;

  @include media-breakpoint-down(xs) {
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0rem;
  }
}
.contact-us input,
.contact-us textarea {
  @include media-breakpoint-down(xs) {
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0rem;
  }
}

.contact-form input,
.contact-form .row,
.contact-form .form-group {
  @include media-breakpoint-down(xs) {
    margin-bottom: 0rem;
  }
}

.log-in-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: theme-color('primary');
  min-height: 273px;
  height: calc(100vh - 87px - 116px);
}

.log-in-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.footer {
  background-color: #f2f2f2;
  width: 100%;
  color: theme-color('primary');
  p {
    margin-bottom: 0;
    margin-top: 10px;
  }
}

.footer__logo {
  width: 150px;
}

.question-container {
  padding: 3.75rem 3rem;
}

.left-side {
  background-color: theme-color('primary');
}

.tips-container__img {
  width: 20rem;
  margin: 0 auto;
}

.tips-container__title {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
