// Bootstrap components
.display-3 {
  line-height: 0.98;

  @include media-breakpoint-down(md) {
    font-size: 2.25rem;
  }
}

.nav-bar-logo {
  max-width: 200px;
}

.btn {
  border-radius: 10px;
}

// Custom Components
.hero-img-right {
  @include media-breakpoint-down(lg) {
    margin-bottom: 3rem;
  }

  @include media-breakpoint-up(lg) {
    padding-left: 80px;
  }
}

.hero-img-left {
  @include media-breakpoint-down(lg) {
    margin-bottom: 3rem;
  }

  @include media-breakpoint-up(lg) {
    padding-right: 80px;
  }
}

.contact-us label{
  text-align: right;
  padding-left: 0rem;

  @include media-breakpoint-down(xs) {
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0rem;
  }
}
.contact-us input, 
.contact-us textarea{
  @include media-breakpoint-down(xs) {
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0rem;
  }
}

.contact-form input, 
.contact-form .row, 
.contact-form .form-group{
  @include media-breakpoint-down(xs) {
    margin-bottom: 0rem;
  }
}

.log-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  background: rgba(39, 124, 76, 0.87);
  width: 100%;
  color: white;
  p {
    margin-bottom: 0;
  }
}