// Variables
$theme-colors: (
  'primary': #3d9e67,
  'dark': #19191b,
  'secondary': #696871,
);

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'objects';
@import 'components';

// Bootstrap Components Overrides
.nav-bar-logo {
  max-width: 200px;
}

.btn {
  border-radius: 10px;
}

.display-3 {
  line-height: 0.98;
}
